* {
  padding:0;
  margin:0;
}

body{
  background-color:aqua;
  text-align:center;
}

header{
  text-decoration:underline;
}
div{
  background-color:yellow;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
